# Virtual environment
venv/
.env/
env/

# Python cache files
__pycache__/
*.py[cod]
*.class

# System files
.DS_Store
Thumbs.db

# Data files
data/processed/*.csv
# Uncomment below if you want to exclude raw data as well
# data/raw/*.csv
# data/sentiment/*.csv

# Large binary files
*.pkl
*.h5
*.model
